<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luo.jobx.admin.dao.ExecutorInfoDao">

    <select id="selectByExecutorId" resultType="com.luo.jobx.admin.entity.ExecutorInfoEntity">
        SELECT *
        FROM executor
        WHERE executor_id = #{executorId}
    </select>

    <select id="selectByIpPort" resultType="com.luo.jobx.admin.entity.ExecutorInfoEntity">
        SELECT *
        FROM executor
        WHERE ip = #{ip}
            AND port = #{port}
    </select>

    <select id="selectList" resultType="com.luo.jobx.admin.entity.ExecutorInfoEntity">
        SELECT *
        FROM executor
        WHERE status != 'DELETED'
    </select>

    <select id="selectListOnline" resultType="com.luo.jobx.admin.entity.ExecutorInfoEntity">
        SELECT *
        FROM executor
        WHERE status = 'ONLINE'
    </select>

    <insert id="insert">
        INSERT executor (
            id, executor_id, ip, port,
            name, token, status,
            keep_alive_time, register_time, update_time
        )
        VALUE (
            #{id}, #{executorId}, #{ip}, #{port},
            #{name}, #{token}, #{status},
            #{keepAliveTime}, #{registerTime}, #{updateTime}
        )
    </insert>

    <update id="updateByExecutorId">
        UPDATE executor
        SET
            <if test="ip != null">ip = #{ip},</if>
            <if test="port != null">port = #{port},</if>
            <if test="name != null">name = #{name},</if>
            <if test="token != null">token = #{token},</if>
            <if test="status != null">status = #{status},</if>
            <if test="keepAliveTime != null">keep_alive_time = #{keepAliveTime},</if>
            <if test="registerTime != null">register_time = #{registerTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            executor_id = #{executorId}
        WHERE executor_id = #{executorId}
    </update>

    <update id="updateByIpPort">
        UPDATE executor
        SET
            <if test="executorId != null">executor_id = #{executorId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="token != null">token = #{token},</if>
            <if test="status != null">status = #{status},</if>
            <if test="keepAliveTime != null">keep_alive_time = #{keepAliveTime},</if>
            <if test="registerTime != null">register_time = #{registerTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            ip = #{ip}
        WHERE ip = #{ip}
            AND port = #{port}
    </update>

    <update id="updateForceByIpPort">
        UPDATE executor
        SET
            <if test="executorId != null">executor_id = #{executorId},</if>
            name = #{name},
            token = #{token},
            status = #{status},
            keep_alive_time = #{keepAliveTime},
            <if test="registerTime != null">register_time = #{registerTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            ip = #{ip}
        WHERE ip = #{ip}
            AND port = #{port}
    </update>

    <update id="updateTimeByIpPort">
        UPDATE executor
        SET update_time = #{updateTime},
            status = #{status}
        WHERE ip = #{ip}
            AND port = #{port}
    </update>

    <update id="updateStatusByExecutorId">
        UPDATE executor
        SET status = #{status}
        WHERE executor_id = #{executorId}
    </update>

</mapper>